@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the theme styles for only specified components.
@include mat-core-theme($candy-app-theme);
@include mat-button-theme($candy-app-theme);
// @include mat-checkbox-theme($candy-app-theme);

.example-button {
  margin-top: 16px;
  padding: 8px;
  border-radius: 3px;
}
#ebone{
  margin-left:2%;
}

.example-tooltip-red {
  background: #b71c1c;
}


.style-success {
  color: rgba(255,255,255,.7)!important;
  background-color: rgba(242, 255, 231, 0.714)!important;
  box-shadow: 0 3px 5px -1px rgba(242, 255, 231,.2), 0 6px 10px 0 rgba(242, 255, 231,.14), 0 1px 18px 0 rgba(242, 255, 231,.12)!important;
}
// .style-success {
//   color: $primary-text;
//   background-color: $primary;
// }
// .style-success .mat-simple-snackbar-action  {
//   color: $primary-text;
// }

// .style-error {
//   color: $warn-text;
//   background-color: $warn;
// }
// .style-error .mat-simple-snackbar-action {
//   color: $warn-text;
// }