<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" [routerLink]="['']"><img src="assets/logo.png" style="width: 20px; height: auto" > Return to main</a></li>
        <li class="breadcrumb-item active" aria-current="page">SPC verification step</li>
  </ol>
</nav>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group" *ngIf="userDocType !== undefined">
      <div *ngIf="model !== undefined && model.original !== '' && model.original !== null">
        <!-- Original file:  {{ model.original }} -->
        <label for="downloadFile-field" style="display: block;">Download document (.PDF) for <b>{{ userDocType }}</b>:</label><!--.jpg, .jpeg, .png, -->
          <button mat-raised-button id="downloadFile-field" (click)="handleFileDownload($event)" >Download</button>
      </div>
    </div>
    <div *ngIf="model !== undefined && model.original === null && model.producStatus !== 'reject'" style="font-weight: bolder; color:limegreen">
      {{ messages }}
    </div>
    <div class="form-group" *ngIf="model !== undefined && model.original !== null && (model.filled === null || model.producStatus !== 'filled')">
        <div>
          Upload the file: <!-- {{ model.filled }} -->
        </div>
      <label for="file-field" style="display: block;">Choose documents to upload (pdf)</label><!--.jpg, .jpeg, .png, -->
      <input type="file" id="file-field" style="visibility: none;" [hidden]="true" name="file-field" accept=".pdf" (change)="handleFileSelect($event)" >
      <label for="file-field"  class="mat-button mat-raised-button mat-primary example-button">Choose File</label>
    </div>
  
    <div *ngIf="model !== undefined && model.producStatus === 'filled'" class="list-group-item" style="color: limegreen; font-weight: bold">
      Your documents have been sent and being reviewed. Please wait email when it finished
    </div>
    
    <div *ngIf="model !== undefined && model.filled === true" class="list-group-item" style="color: limegreen; font-weight: bold">
      Your documents have been sent successfully.
    </div>
    <div *ngIf="model !== undefined && model.producStatus  !== undefined && model.producStatus === 'reject' && model.filled !== true" class="list-group-item" style="color: lightcoral; font-weight: bold">
      SPC documents have been reviewed and have not passed verification. Please try again.
    </div>
    <!-- <button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button col-3"
        (click)="update()">
      Update
    </button> -->
    <!-- <button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button col-3" id="ebone"
        (click)="download()">
    Download
    </button>
    <button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button  col-3" id="ebone"
        (click)="open()">
    Open
    </button> -->

  </div>
</div>
