

<!-- -------- HEADING ----------  -->
<h3>Update Row Data</h3><br/>

<!-- -------- INPUT FIELDS ----------  --> 
<!-- <div>
    <mat-input-container floatPlaceholder="never">  
        <input matInput placeholder="First Name "  id="" name="" [ngModel]="data[0].empName">
    </mat-input-container>
</div>
<br/><br/>

<div>
    <mat-input-container floatPlaceholder="never">  
        <input matInput placeholder="Last Name "  id="" name="" [ngModel]="data[0].empName">
    </mat-input-container>
</div>
<br/><br/>

<div>
    <mat-input-container floatPlaceholder="never">  
        <input matInput placeholder="Title "  name="" [ngModel]="data[0].title">
    </mat-input-container>
</div>
<br/><br/>

<div>
    <mat-input-container floatPlaceholder="never">  
        <input matInput placeholder="Address "  name="" [ngModel]="data[0].address">
    </mat-input-container>
</div>
<br/><br/>
      

   -->

<!-- --------------------------------------BUTTONS---------------------------------  --> 
 
      <button mat-raised-button color="primary" (click)="saveToMainTable()">
        Save
      </button>
   




<!-- ----------------------------------------------------EOF------- -----------------------------------  -->