<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['']"><img src="assets/logo.png" style="width: 20px; height: auto" > Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Trusts</li>
      </ol>
</nav>
<div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="trustName">
                  <th mat-header-cell *matHeaderCellDef> Trust Name </th>
                  <td class="center" mat-cell *matCellDef="let badge"> {{badge.trustName}} </td>
            </ng-container>
            <ng-container matColumnDef="beneficiaries">
                  <th mat-header-cell *matHeaderCellDef> Beneficiaries count </th>
                  <td  class="center" mat-cell *matCellDef="let badge"> {{badge.beneficiaries !== undefined ? badge.beneficiaries.length: 0}} </td>
            </ng-container>
            <ng-container matColumnDef="administrators">
                  <th mat-header-cell *matHeaderCellDef> Administrators count </th>
                  <td class="center" mat-cell *matCellDef="let badge"> {{badge.administrators !== undefined ? badge.administrators.length: 0}}	</td>
            </ng-container>
            <!-- Pdf Column -->
            <ng-container matColumnDef="toolbar">
                  <th mat-header-cell *matHeaderCellDef>
                        Download pdf
                  </th>
                  <td mat-cell *matCellDef="let row" class="center">
                        <div *ngIf="row.trustStatus === 'accepted'" (click)="openDoc(row.trustId, $event)" style="height: 100%; width: 100%">
                              <i *ngIf="row.trustStatus === 'accepted'" style="margin-top: 18px;" class="fas fa-file-pdf" ></i><!--*ngIf="row"-->
                        </div>
                        <div *ngIf="row.trustStatus === 'rejected'" style="height: 100%; width: 100%" style="margin-top: 18px;">
                              <i title="Trust was rejected, needs review" class="fas fa-window-close"></i>
                        </div>
                  </td>                  
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr style="cursor: pointer" (click)="openTrust(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                 
      <!--     
            <mat-paginator #paginator [pageSize]="5" 
                              [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
      -->
      </mat-table>
</div>
          