table {
      width: 100%;
}
.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}
/* .example-container.mat-table {
      min-width: auto !important;

  } */

  th.mat-header-cel, th, th.center, td.center {
      text-align: center!important;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;
}


  tr.mat-header-row {
      width: 100%;
  }
  
  tr.mat-row {
      width: 100%;
  }
  .mat-column-trustName {
      flex: 0 0 27% !important;
      min-width: 27% !important;
      text-align: left ;
      align-items: left;
  }
  .mat-column-administrators {
      flex: 0 0 25% !important;
      min-width: 12% !important;
  }
  .mat-column-beneficiaries {
      flex: 0 0 25% !important;
      min-width: 12px !important;
  }
  
  .mat-column-toolbar {
      flex: 0 0 25% !important;
      width: auto !important;
  }