<div class="hint-text"
      *ngIf="view !== undefined && view.isOpen && view.data !==undefined" [innerHTML]="view.data | safe: 'html'"></div>
<div
      *ngIf="view !== undefined && view.isOpen && view.pdfPreview !== undefined   && view.pdfPreview.url !== undefined && view.pdfPreview.url !== ''">
      <div class="pdf-btn-toolbar"><button class="btn btn-secondary" (click)="download(fileName)">Download
                  document</button><button (click)="print()" class="btn btn-primary">Print document</button></div>
      <pdf-viewer (after-load-complete)="initPdf($event)" #pdfPreview [src]="view.pdfPreview" [original-size]="true"
            [fit-to-page]="false" [render-text]="true" style="display: block;"></pdf-viewer>
</div>