:host {
      box-sizing: border-box;
      height: 100%;
      padding: 20px 10 20 10px;
    }
    
    :host.is-open {
      display: block;
      width: 93%;
    }

    .pdf-btn-toolbar button {
      margin-right: 4px;
    }

    .pdf-btn-toolbar {
      background-color: #ddd;
      padding: 10px;
      height: auto;
    }

    .hint-text {
      word-wrap: break-word;
      text-overflow: ellipsis;
      padding: 10px;
    }

    @media only screen and (max-width: 450px) {
      .hint-text {
        padding:0;
      }
    }