*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: Lato, Helvetica, Arial;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #444444;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1erm;
}


footer {
  padding: 1.875rem 0 !important; }
  footer.footer-large {
    padding: 6.25rem 0 !important; }
  footer .flex-column .nav-link {
    padding-left: 0; }
  footer.bg-dark {
    height: 40%;
    height: 600px;
    /* background-color:  #2d313c;
    color: #f2f2f2; } */
  }
    footer.bg-dark a {
      color: #f2f2f2; }
  footer a {
    color: #444444; }

header {
  background-color: #FFFFFF; }
  header .navbar-nav a.nav-link {
    color: #777; }
    header .navbar-nav a.nav-link:hover {
      color: #329ef7; }
  header .navbar-nav .active a.nav-link {
    color: #444444; }
  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  header.bg-dark .navbar-nav a.nav-link {
    color: #dcdcdc; }
    header.bg-dark .navbar-nav a.nav-link:hover {
      color: #329ef7; }
  header.bg-dark .navbar-nav .active a.nav-link {
    color: #FFFFFF; }
  header.bg-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

header + header {
  border-top: solid 0.0625rem #EEE; }

.bg-dark {
  background-color: #2d313c;
  color: #f2f2f2; }
  .bg-dark p.lead {
    color: white; }

.bg-gray {
  background-color: #f4f7fe;
  color: #444444;
  height: 400px;
}
.footer-colors{


  margin-top: -40px;
}
.previewWidth {
  width: 83%;
}

.mat-drawer-inner-container {
  overflow: hidden!important;
}
.mat-drawer {
  overflow-y: hidden!important;
}

.app-hints {
  margin-left: auto;
}

@media only screen and (max-width: 450px) {
  .app-hints {
    position:fixed;
    bottom:0;
    background: #2d313c;
    height:40px;
    width:100%;
    padding: 10px;
    right:0;
    margin-left:initial;
    z-index:999;
  }
}