﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/"><img src="assets/logo.png" style="width: 20px; height: auto" > Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <app-side-bar  #asideBar class="app-hints"></app-side-bar>
    </div>
</nav>

  <mat-sidenav-container autosize style="height: 100%; overflow: hidden; position: static;">                
      <mat-sidenav-content  style="overflow: visible;">
          <!-- main app container -->
          <div class="jumbotron" style="min-height: 96%;">
              <div class="col-sm-500" style="height: 100%;">
                  <div class="col-sm-500" style="height: 100%;">
                      <div>
                          <alert></alert>
                          <!-- Creates a layout with a left and right sidenav and implicit content. -->
                        <router-outlet></router-outlet>
                            
    <!-- <button type="button" mat-button (click)="sideBarService.show('test')">
        Toggle sidenav
    </button> -->

                      </div>
                  </div>
              </div>
          </div>            
  </mat-sidenav-content>
</mat-sidenav-container>


