<div class="row verify">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">




      <mat-tab-group [selectedIndex]="step" (selectedTabChange)="onShowHint($event)">
        <mat-tab label="Trust">
          <ng-template matTabContent>
            <ng-template mat-tab-label><img style="height: 25px; width: auto; float: left" src="assets/logo.png" /> Trust</ng-template>
            
          <form [formGroup]="verificationFormTrust"   >
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0); showHint('TRUST', $event)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Trust Info
                </mat-panel-title>
                <mat-panel-description>
                  Enter you trust name
                  <mat-icon (click)="showHint('TRUST', $event)">account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field class="example-full-width">
                <input matInput formControlName="FullName" placeholder="Full name">
              </mat-form-field>

              <div *ngIf="this.verificationFormTrust.invalid && this.verificationFormTrust.touched">
                <mat-error [formGroup]="verificationFormTrust" *ngFor="let error of getErrors(this.verificationFormTrust)">{{ error}}</mat-error>
              </div>
              <!-- <div *ngIf="this.verificationForm.invalid">
                <mat-error [formGroup]="verificationForm" *ngFor="let error of getErrors(this.verificationForm)">In Personal profile, please fill in following: {{ error}}</mat-error>
              </div> -->

              <mat-action-row>
                <button mat-button  color="primary" (click)='submittedTrust("Grantor")'>Next</button>
              </mat-action-row>
            </mat-expansion-panel>




          </mat-accordion>
          </form>
          </ng-template>
        </mat-tab>

        <mat-tab label="Administrators" >
          <form [formGroup]="verificationFormAdmin"  action="/Verify" >
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1); showHint('ADMINS', $event)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and last name
                  <mat-icon (click)="showHint('ADMINS', $event)">account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              
              <mat-tab-group *ngIf="admins !== null && admins && admins.length > 0 && currentIndex < admins.length" [selectedIndex]="currentIndex" (selectedTabChange)="currentIndex = $event.index"> <!---->
             <!--(selectedIndexChange)="selected.setValue($event)" -->
              <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
                <p *ngIf="admins !== null && admins && admins.length > 0 " >
                  <br><br>
                  <mat-form-field>
                    <input matInput
                    [formControl]="admins[currentIndex].controls.firstName" placeholder="First name">

                  </mat-form-field>

                  <mat-form-field>
                    <input matInput 
                    [formControl]="admins[currentIndex].controls.lastName" placeholder="Last Name">
                  </mat-form-field>
                </p>
                <!--<mat-form-field class="example-full-width">
                  <input matInput 
                    [formControl]="admins[currentIndex].email"  placeholder="Email">
                </mat-form-field>-->
                <p *ngIf="admins !== null && admins && admins.length > 0 && admins[currentIndex] !== undefined "  >
                    <mat-form-field class="example-full-width">
                        <mat-select [formControl]="admins[currentIndex].controls.country" placeholder="Country">
                            <mat-option *ngFor="let c of countries" [value]="c.name">
                                  {{c.name}}
                            </mat-option>
                            </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field class="example-full-width">
                      <textarea matInput [formControl]="admins[currentIndex].controls.Address2"  placeholder="Address 2"></textarea>
                    </mat-form-field> -->
                </p>
                <p *ngIf="admins !== null && admins && admins.length > 0 && admins[currentIndex] !== undefined "  >
                  <mat-form-field class="example-full-width">
                    <input matInput [formControl]="admins[currentIndex].controls.address"  placeholder="Address">
                  </mat-form-field>
                  <!-- <mat-form-field class="example-full-width">
                    <textarea matInput [formControl]="admins[currentIndex].controls.Address2"  placeholder="Address 2"></textarea>
                  </mat-form-field> -->
                </p>

                <table *ngIf="admins !== null && admins && admins.length > 0 && admins[currentIndex] !== undefined " class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <input matInput  [formControl]="admins[currentIndex].controls.city"  placeholder="City">
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                      <input matInput  [formControl]="admins[currentIndex].controls.state"  placeholder="State" *ngIf="admins[currentIndex].controls.country.value!=='United States of America'">
                      <mat-select [formControl]="admins[currentIndex].controls.state" placeholder="State" *ngIf="admins[currentIndex].controls.country.value==='United States of America'">
                            <mat-option *ngFor="let c of states" [value]="c"><!--objectKeys(verificationForm.controls['country'].value.states)-->
                                  {{c}}
                            </mat-option>
                      </mat-select>                    
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <input matInput #zip maxlength="5" [formControl]="admins[currentIndex].controls.zip"  placeholder="Postal Code" value="">
                    <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
                  </mat-form-field></td>
                </tr></table>

                <button mat-raised-button
                color="primary"
                class="example-delete-tab-button"
                [disabled]="tabs.length === 0"
                (click)="addTabAdmin(true)">
                New
              </button>
              <!-- <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox> -->



              <button mat-raised-button
              class="example-delete-tab-button"
              [disabled]="tabs.length === 1"
              (click)="removeTab(index)">
              Delete


            </button>

            <button mat-raised-button *ngIf="currentIndex==0 && admins !== null && admins && admins.length > 0 && admins[currentIndex] !== undefined"
            [disabled]="currentIndex>=countertabs || (viewModel.isCleared && admins[currentIndex].invalid) || (admins[currentIndex].touched && viewModel.isCleared && !admins[currentIndex].valid) "
            (click)="admins[currentIndex].reset();viewModel.isCleared=true;">
            Clear form


          </button>
          <div class="container" style="margin-top: 10px" *ngIf="admins[currentIndex].invalid && admins[currentIndex].touched">
            <mat-error [formGroup]="admins[currentIndex]" *ngFor="let error of getErrors(admins[currentIndex])">{{ error}}</mat-error>
          </div>
          </mat-tab>
        </mat-tab-group>

        <mat-action-row>
          <button *ngIf="(admins !== null && admins && admins.length > 0  && admins[currentIndex] !== undefined ) && (currentIndex<(countertabs-1) || (currentIndex<countertabs && admins[currentIndex].invalid ) )" mat-button color="Green" (click)="onSubmitAdmin(currentIndex)">Next</button>
          <button *ngIf="(admins !== null && admins && admins.length > 0  && admins[currentIndex] !== undefined) && (currentIndex===(countertabs-1) && admins[currentIndex].valid)" mat-button color="primary" (click)='moveToSelectedTab("Beneficiaries")'>Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  </mat-tab>
  <mat-tab label="Beneficiaries">
          <form [formGroup]="verificationFormBeneficiar"  action="/Verify" >
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2); showHint('BENS', $event)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Type your full name
                  <mat-icon (click)="showHint('BENS', $event)">account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              
              <mat-tab-group *ngIf="tabsBenef !== undefined && tabsBenef.length > 0" [selectedIndex]="currentIndexBenef" (selectedTabChange)="currentIndexBenef = $event.index"> <!---->
             <!--(selectedIndexChange)="selected.setValue($event)" -->
              <mat-tab *ngFor="let tab of tabsBenef; let index = index" [label]="tab">
                <p *ngIf="bens !== null && bens && bens.length > 0" >
                  <br><br>
                  <!-- <mat-form-field class="example-full-width">
                    <input matInput formControlName="FullName" placeholder="Full name">
                  </mat-form-field>
         -->

                  <mat-form-field class="example-full-width">
                    <input matInput 
                    [formControl]="bens[currentIndexBenef].controls.fullName" placeholder="Full name">
                  </mat-form-field>
                </p>


                <button mat-raised-button
                  color="primary"
                  class="example-delete-tab-button"
                  [disabled]="tabsBenef.length === 0"
                  (click)="addTabBeneficiar(true)">
                  New
                </button>
                <!-- <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox> -->
                <button mat-raised-button
                class="example-delete-tab-button"
                [disabled]="tabsBenef.length === 1"
                (click)="removeTabBenef(index)">
                Delete
              </button>
          </mat-tab>
        </mat-tab-group>
        <div class="container" style="margin-top: 10px" *ngIf="bens && bens[currentIndexBenef].invalid && bens[currentIndexBenef].touched">
          <mat-error [formGroup]="bens[currentIndexBenef]" *ngFor="let error of getErrors(bens[currentIndexBenef])">{{ error}}</mat-error>
        </div>
        <mat-action-row>
          <button *ngIf="bens !== null && bens !== undefined && bens.length > 0 && ( currentIndexBenef<=(countertabsBenef-1) && ( bens[currentIndexBenef].invalid ) )" mat-button color="Green" (click)="onSubmitBeneficiar(currentIndexBenef)">Next</button>
          <button *ngIf="bens !== null && bens !== undefined && bens.length > 0 && currentIndexBenef===(countertabsBenef-1) && bens[currentIndexBenef].valid" mat-button color="primary" (click)="onFinish()">Finish</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  </mat-tab>
  
</mat-tab-group>

<br>
<br>
<br>
<br>


</div>
</div>
