<div class="card card-outline-secondary  card-body center">
        <div class="card-header">
            <h3 class="mb-0">Password Reset</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="pass" (ngSubmit)="onSubmit()"class="form" role="form" autocomplete="off">
                <div class="form-group">
                    <label for="inputResetPasswordEmail">Email</label>
                    <input matInput type="email" class="form-control" id="inputResetPasswordEmail" formControlName="email" placeholder="Email">
                    <span id="helpResetPasswordEmail" class="form-text small text-muted">
                            Password reset instructions will be sent to this email address.
                        </span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg float-right">Reset</button>
                 <a (click) = "onBack()" class="btn btn-link btn-lg butb">Back</a>
                </div>
            </form>
        </div>
    </div>
<br>

<div class="card card-outline-secondary  card-body center">
    <div class="card-header">
        <h3 class="mb-0 text-center">Password Reset</h3>
    </div>
    <div class="card-body">                 
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 column">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>Password reset instructions will be sent to this email address.</p>
                        <div class="panel-body">
        
                            <form  [formGroup]="pass" (ngSubmit)="onSubmit()"class="form" role="form" autocomplete="off">
            
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input matInput type="email" class="form-control" id="inputResetPasswordEmail" formControlName="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>
                                
                                <input type="hidden" class="hide" name="token" id="token" value=""> 
                            </form>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>