      <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" [routerLink]="['']">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
      </nav>
      <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="showHint('USER', $event)"
                              (closed)="showProfile = false"> <!--(opened)="showProfile = true" -->
            <mat-expansion-panel-header>
            <mat-panel-title [ngStyle]="{ 'min-width': '33%', 'position': 'relative' }">
            Trusts Profile info
            </mat-panel-title>
            <mat-panel-description [ngStyle]="{ 'text-align': 'left' }">
            
            </mat-panel-description>
            </mat-expansion-panel-header>
            

            <form [formGroup]="verificationForm"  action="/Verify" >
                  <mat-accordion class="example-headers-align">
                  <mat-expansion-panel [expanded]="subStep === 0" (opened)="setSubStep(0)">
                  <mat-expansion-panel-header>
                        <mat-panel-title>
                        Personal data
                        </mat-panel-title>
                  </mat-expansion-panel-header>

                  <mat-form-field>
                        <input matInput formControlName="firstName" placeholder="First name *">
                  </mat-form-field>

                  <mat-form-field>
                  <input matInput formControlName="lastName" placeholder="Last name *">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="example-full-width">
                        <input matInput 
                        formControlName="email" placeholder="Email *">
                  </mat-form-field>

                  <mat-form-field>
                        <input matInput formControlName="number" placeholder="Phone number *">
                  </mat-form-field>

                  <mat-action-row>
                        <button mat-button color="primary" (click)="setSubStep(1)">Continue</button>
                  </mat-action-row>

                  </mat-expansion-panel>


                  <mat-expansion-panel [expanded]="subStep === 1" (opened)="setSubStep(1)" [ngClass]="{errorHighlighted: isAddressInvalid}">
                  <mat-expansion-panel-header>
                        <mat-panel-title>
                              Address Info
                        </mat-panel-title>
                  </mat-expansion-panel-header>

                  <p>
                        <mat-form-field class="example-full-width">
                        <textarea matInput formControlName="address"  placeholder="Address *">Your address</textarea>
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width">
                        <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                        </mat-form-field> -->
                  </p>

                  <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                              <mat-select formControlName="country" placeholder="Country *">
                              <mat-option *ngFor="let c of countries" [value]="c.name">
                                    {{c.name}}
                              </mat-option>
                              </mat-select>
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                        <input matInput formControlName="state" placeholder="State *" *ngIf="!isStateDropdown">
                              <mat-select formControlName="state" placeholder="State *" *ngIf="isStateDropdown">
                                    <mat-option *ngFor="let c of states" [value]="c"><!--objectKeys(verificationForm.controls['country'].value.states)-->
                                          {{c}}
                                    </mat-option>
                              </mat-select>
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                        <input matInput formControlName="city"  placeholder="City *" ><!--*ngIf="!isStateDropdown"-->
                              <!-- <mat-select formControlName="city" placeholder="City" *ngIf="isStateDropdown">
                                    <mat-option *ngFor="let c of cities" [value]="c">
                                          {{c}}
                                    </mat-option>
                              </mat-select> -->
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                        <input matInput #zip formControlName="zip"  maxlength="5" placeholder="Postal Code *" value="">
                        <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
                        </mat-form-field></td>
                  </tr></table>
                  <div *ngIf="verificationForm.invalid && verificationForm.touched">
                        <mat-error [formGroup]="verificationForm" *ngFor="let error of getErrors(verificationForm)">{{ error}}</mat-error>
                  </div>
                  <mat-action-row>
                        <button mat-button color="primary" (click)='onSaveAddress()'>Continue</button>
                  </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel *ngIf="isStateDropdown && !isSpcCompleted" [formGroup]="verificationFormUserInfo" [expanded]="subStep === 2" (opened)="setSubStep(2)" hideToggle  [ngClass]="{errorHighlighted: isExtendedAddressInvalid}">
                        <mat-expansion-panel-header>
                              <mat-panel-title>
                                    Extended profile info
                              </mat-panel-title>
                              <mat-panel-description>
                                    Enter your additional information (for USA)
                              <mat-icon>map</mat-icon>
                              </mat-panel-description>
                        </mat-expansion-panel-header>
      
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="birthName"  placeholder="Birth Name *">Your birth name</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="middleName"  placeholder="Middle Name *">Your middle name</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="birthCertificateName"  placeholder="Birth Certificate Name *">Your birth Certificate name</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p><mat-form-field class="example-full-width">
                                    <mat-select formControlName="birthState" placeholder="Birth State *" *ngIf="isStateDropdown">
                                          <mat-option *ngFor="let c of states" [value]="c"><!--objectKeys(verificationForm.controls['country'].value.states)-->
                                                {{c}}
                                          </mat-option>
                                    </mat-select>
                              </mat-form-field>
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="birthCertificateNUmber"  placeholder="Birth Certificate Number *">Your birth Certificate number</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <input matInput [textMask]="{mask: ssnMask}" formControlName="socialSecurityNumber"  placeholder="Your Social Security Number *" />
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="socialSecurityBondNumber"  placeholder="social Security Bond Number *">Your social Security Bond Number</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="driversLicenseNumber"  placeholder="Drivers License Number">Your drivers License Number</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        
                        <p>
                              <!-- Your date of birth -->
                              <mat-form-field class="example-full-width">
                                    <input [matDatepicker]="myDatepicker" matInput formControlName="dateOfBirth"  placeholder="Date Of Birth *">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="passportNumber"  placeholder="Passport Number">Your passport number</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="CertifiedMailNumber"  placeholder="Certified Mail Number *">Your Certified Mail Number</textarea>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <!-- Your date of birth -->
                              <mat-form-field class="example-full-width">
                              <input type="text" matInput formControlName="county"  placeholder="County *">
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <table class="example-full-width" cellspacing="0"><tr>
                              <td><mat-form-field class="example-full-width">
                                    <mat-select formControlName="gender" placeholder="Gender *">
                                    <mat-option [value]="'man'">
                                          Man
                                    </mat-option>
                                    <mat-option [value]="'woman'">
                                          Woman
                                    </mat-option>
                                    </mat-select>
                              </mat-form-field></td>
                              <!-- <td></td> -->
                        </tr></table>
                        <p>
                              <!-- Your MarriageState -->
                              <mat-form-field class="example-full-width">
                              <input type="text" matInput formControlName="MarriageState"  placeholder="Marriage State">
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <!-- Your marriageLicNum -->
                              <mat-form-field class="example-full-width">
                              <input type="text" matInput formControlName="marriageLicNum"  placeholder="Marriage Licence Number">
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <!-- Your SpouseStrawman-->
                              <mat-form-field class="example-full-width">
                              <input type="text" matInput formControlName="SpouseStrawman"  placeholder="Spouse Strawman">
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <p>
                              <!-- Your MarriageDate -->
                              <mat-form-field class="example-full-width">
                                    <input [matDatepicker]="myDatepicker2" matInput formControlName="MarriageDate"  placeholder="Marriage Date">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker2">
                                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker2></mat-datepicker>
                              </mat-form-field>
                              <!-- <mat-form-field class="example-full-width">
                              <textarea matInput formControlName="Address2"  placeholder="Address 2"></textarea>
                              </mat-form-field> -->
                        </p>
                        <div *ngIf="verificationFormUserInfo.invalid && verificationFormUserInfo.touched">
                              <mat-error [formGroup]="verificationFormUserInfo" *ngFor="let error of getErrors(verificationFormUserInfo)">{{ error}}</mat-error>
                        </div>
                        <mat-action-row>
                              <button mat-button color="primary" (click)='onSaveExtended()'>Save</button>
                        </mat-action-row>
                        </mat-expansion-panel>


                  </mat-accordion>
                  </form>

      </mat-expansion-panel>
     
      </mat-accordion>