<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" [routerLink]="['']"><img src="assets/logo.png" style="width: 20px; height: auto"> Home</a></li>
            <li class="breadcrumb-item"><a href="#" [routerLink]="['/trust-info']">Trusts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Trust Info</li>
      </ol>
</nav>

<mat-expansion-panel *ngIf="contents !== undefined" [expanded]="true" (opened)="showHint('TRUSTINFO', $event)">
      <mat-expansion-panel-header>
            <mat-panel-title [ngStyle]="{ 'min-width': '33%' }">
            Trusts information
            </mat-panel-title>
            <mat-panel-description [ngStyle]="{ 'text-align': 'center' }">
                  View and download your trust info
            </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                  <mat-icon matListIcon>folder</mat-icon>
                  <h4 matLine>{{ contents.trustName}}</h4> <button style="width: 150px; height: 50px; margin-right: 6px" class="mat-raised-button mat-info" [disabled]="!(isDoc)" (click)="openDoc(contents.trustId)">View Docs... {{ isDoc==null? '': ''}}</button> <button style="width: 150px; height: 50px; color:darkblue" class="downloadDoc mat-button mat-raised-button mat-info" [disabled]="!(isDoc)" (click)="downloadDoc(contents.trustId)"><li class="fas fa-file-pdf"></li> Download</button>
                  <p matLine class="demo-2"></p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 matSubheader>Trust info:</h3>
            <mat-list-item>
                  <mat-icon matListIcon>note</mat-icon>
                  <h4 matLine><span class="colortext">Grantor info:</span></h4>
                  <p matLine class="demo-2"><!--date--></p>
            </mat-list-item>
                                    
            <li class="list-group-item"><span class="colortext">Address -</span> {{contents.grantor.address}}</li>
            <li class="list-group-item"><span class="colortext">City -</span> {{contents.grantor.city}}</li>
            <li class="list-group-item"><span class="colortext">State -</span> {{contents.grantor.state}}</li>
            <li class="list-group-item"><span class="colortext">Zip -</span> {{contents.grantor.zip}}</li>
            <li class="list-group-item"><span class="colortext">Email -</span> {{contents.grantor.email}}</li>
            <!--admins-->
            <mat-list-item>
                  <mat-icon matListIcon>note</mat-icon>
                  <h4 matLine><span class="colortext">Administrators info:</span></h4>
                  <p matLine class="demo-2"><!--date--></p>
            </mat-list-item>
                              
            <div class="list-group-item">
                  <div *ngFor='let content1 of contents.administrators; let i=index'>
                        <b>Administrator {{i+1}}:</b>
                        <div><span class="colortext">First Name -</span> {{content1.firstName}}  </div> 
                        <div><span class="colortext">Last Name -</span> {{content1.lastName}}  </div>
                        <div><span class="colortext">Address -</span> {{content1.address}}  </div>
                        <div><span class="colortext"> city -</span> {{content1.city}}</div>
                        <div><span class="colortext"> state -</span> {{content1.state}}  </div>
                        <div><span class="colortext"> zip -</span> {{content1.zip}}  </div>
                        <div><span class="colortext"> email -</span> {{content1.email}}  </div>
                  </div>
            </div>
            <!--beneficiaries-->
            <mat-list-item>
                  <mat-icon matListIcon>note</mat-icon>
                  <h4 matLine><span class="colortext">Beneficiaries info:</span></h4>
                  <p matLine class="demo-2"><!--date--></p>
            </mat-list-item>
            <li class="list-group-item">  
                  <div *ngFor='let content1 of contents.beneficiaries; let i=index'>
                        <b>Beneficiary {{i+1}}:</b>
                        <div><span class="colortext"> Beneficiaries {{i+1}} Full Name -</span> {{content1.fullName}} </div>
                  </div>
            </li>
            
            <!--admins-->
            <mat-list-item>
                  <mat-icon matListIcon>note</mat-icon>
                  <h4 matLine><span class="colortext">Upload document:</span></h4>
                  <p matLine class="demo-2"><!--date--></p>
            </mat-list-item>
            <li class="list-group-item" style="color: lightcoral; font-weight: bold" *ngIf="contents !== undefined && contents.trustStatus === 'accepted' && contents.doc !== undefined && contents.doc.docStatus === 'rejected'">Document was rejected.</li>
            <li class="list-group-item" *ngIf="contents !== undefined && contents.trustStatus === 'accepted' && contents.doc !== undefined && contents.doc.docStatus !== 'filled' && contents.doc.docStatus !== 'submitted'"><app-doc-module [trustId]="contents.trustId"></app-doc-module></li>
            <li class="list-group-item" style="color: limegreen; font-weight: bold" *ngIf="contents !== undefined && contents.trustStatus === 'accepted' && contents.doc !== undefined && contents.doc.docStatus === 'filled'">Document was submitted.</li>
            <li class="list-group-item" style="color: limegreen; font-weight: bold" *ngIf="contents !== undefined && contents.trustStatus === 'accepted' && contents.doc !== undefined && contents.doc.docStatus === 'submitted'">Document was submitted & accepted.</li>
            <mat-divider></mat-divider>
      </mat-list>

      
</mat-expansion-panel>