/* You can add global styles to this file, and also import other style files */
/* html - should not be height 100% as not good no scroll */
html { 
      height: 100%;
}
body { 
    width: 100%;  display: flex;  
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
