<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
      <label for="file-field" style="display: block;">Choose documents to upload (pdf)</label><!--.jpg, .jpeg, .png, -->
      <input type="file" id="file-field" style="visibility: none;" [hidden]="true" name="file-field" accept=".pdf" (change)="handleFileSelect($event)" >
      <label for="file-field"  class="mat-button mat-raised-button mat-primary example-button">Choose File</label>
    </div>

    <div *ngIf="model !== undefined && model.filled === true" class="list-group-item" style="color: limegreen; font-weight: bold">
      Your trust documents have been sent successfully.
    </div>
    <!-- <button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button col-3"
        (click)="update()">
      Update
    </button> -->
    <!-- <button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button col-3" id="ebone"
        (click)="download()">
    Download
    </button>
    <button mat-raised-button
        matTooltip="Info about the action"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button  col-3" id="ebone"
        (click)="open()">
    Open
    </button> -->

  </div>
</div>
