<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stepper">
      <mat-vertical-stepper #stepper labelPosition="center">
          <ng-template matStepperIcon="error">
                  <mat-icon color="warn">
                        announcement
                  </mat-icon>
          </ng-template>
            <mat-step label="Fill out your profile info" errorMessage="Required."> <!-- [stepControl]="firstFormGroup"-->
              <!-- <form [formGroup]="firstFormGroup"> -->
                <!--content-->
                  <!-- <div *ngIf="showTrust" class="example-ripple-container mat-elevation-z4 inputStart" routerLink="/nextstep"
                        matRipple
                        >  -->
                        <button mat-button color="primary" routerLink="/user" class='second-step-button'><i style="font-style: oblique">Enter profile details</i></button>
                  <!-- </div> -->
                  
                  <!-- <button mat-button matStepperNext>Next</button> -->
              <!-- </form> -->
            </mat-step>
            <mat-step  *ngIf="showSPC" [hasError]="!isExtendedInfoCompleted" #stepSPC label="View & Create SPC Document info here (for USA)" [ngClass]="{'stepTrust': false }" [errorMessage]="!isExtendedInfoCompleted? 'Please fill extended profile information before creating SPC.' : 'Before creating a trust please approve your SPC docs.'"> <!-- [stepControl]="firstFormGroup"-->
                  <!-- stepper title !-->
                  <ng-template matStepLabel><mat-label style="color: gray" color="primary">{{stepSPC.label}}</mat-label></ng-template>
                  <!-- <form [formGroup]="firstFormGroup"> -->
                  <!--content-->
                  <!-- <div *ngIf="showTrust" class="example-ripple-container mat-elevation-z4 inputStart" routerLink="/nextstep"
                        matRipple
                        >  -->
                        <button mat-button [disabled]="!(showSPC) || (!isExtendedInfoCompleted)" color="primary" [routerLink]="['/user-doc/info/spc']"><i style="font-style: oblique">Create SPC</i></button>
                  <!-- </div> -->
                  
                  <!-- <button mat-button matStepperNext>Next</button> -->
                  <!-- </form> -->
            </mat-step>
            <mat-step  #step label="Fill out your trust info" [hasError]="!showTrust" [ngClass]="{'stepTrust': true }" [errorMessage]="(showSPC ? 'SPC doc must be created before trust verification': 'Address required. Please update information in Profile details.')"> <!-- [stepControl]="firstFormGroup"-->
                              <!-- stepper title !-->
                  <ng-template matStepLabel><mat-label style="color: gray" color="primary">{{step.label}}</mat-label></ng-template>
                  <!-- <form [formGroup]="firstFormGroup"> -->
                    <!--content-->
                      <!-- <div *ngIf="showTrust" class="example-ripple-container mat-elevation-z4 inputStart" routerLink="/nextstep"
                            matRipple
                            >   [disabled]="!showTrust"-->
                            <button mat-button color="primary" routerLink="/nextstep"><i style="font-style: oblique">Create New Trust</i></button>
                      <!-- </div> -->
                      
                      <!-- <button mat-button matStepperNext>Next</button> -->
                  <!-- </form> -->
            </mat-step>
            <mat-step  label="Trust information (for download and submitted info)">
                  <!-- <div class="example-ripple-container mat-elevation-z4 inputStart" routerLink="/user"
                        matRipple> --><!--
                              [matRippleCentered]="centered"
                              [matRippleDisabled]="disabled"
                              [matRippleUnbounded]="unbounded"
                              [matRippleRadius]="radius"
                              [matRippleColor]="color"-->
                        <button mat-button color="primary" class='second-step-button' routerLink="/trust-info">Trust Information - download your trust docs</button>
                  <!-- </div> -->
            </mat-step>
            <!-- <mat-step label="Upload docs" errorMessage="Upload doc is required.">
                  <button mat-button [disabled]="!status" color="primary" routerLink="/doc-module"><i style="font-style: normal">Upload DOCS</i></button>
            </mat-step> -->
            <mat-step label="Done">
                  You are now done. Thanks
                  <div>
                        <!-- <button mat-button matStepperPrevious></button> -->
                        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                  </div>
            </mat-step>
          </mat-vertical-stepper>
          
    
</div>
