.example-ripple-container {
  cursor: pointer;
  text-align: center;

  max-width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
#user{
  border: 1px solid black;
	width: 100px;
	height: 50px;
  margin-left: 48%;
  margin-right: 50%;
}


#user:hover {
	transform-origin:  center;
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}
.inputStart{
  margin-left: auto;
  margin-right: auto;
}



/* custom styles of buttons */

@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~material-design-icons/iconfont/material-icons.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$candy-app-primary: mat-palette($mat-deep-purple, A400, A100, A400);
$candy-app-accent:  mat-palette($mat-deep-purple, A200, A100, A400);
$candy-app-warn:  mat-palette($mat-gray);
$candy-app-theme:  mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include the theme styles for only specified components.
// .second-step-button {
//   @include mat-core-theme($candy-app-theme);
//   @include mat-button-theme($candy-app-theme);
// }

// .mat-step-header-ripple .mat-step-header .mat-step-label.mat-step-label-error {
//   color: blue!important;
// }

// .mat-stepper-vertical mat-step-header div.mat-step-label.mat-step-label-active.mat-step-label-error div * {
//   color: #000!important;
// }

  // mat-step-header .mat-step-label.mat-step-label-active.mat-step-label-error, .mat-step-header .mat-step-label.mat-step-sub-label-error {
  // @include mat-core-theme($candy-app-theme);

  // @include angular-material-theme($candy-app-theme);
//   $warn: map-get($candy-app-theme, warn);
//   color: mat-color( mat-palette($mat-indigo, A100) );
// }

// @include mat-checkbox-theme($candy-app-theme);

// .mat-step-header .mat-step-label.mat-step-label-active, .mat-step-label .mat-step-label-error, div.mat-step mat-step-header.mat-vertical-stepper-header div.mat-step-label.mat-step-label-error div div {color: grey!important}
.stepTrust, .stepper { 
  // mat-vertical-stepper mat-step-header.mat-step-header div.mat-step-label .mat-step-label-active.mat-step-label-error {
    // @include mat-stepper-theme($candy-app-theme);
    @include angular-material-theme($candy-app-theme);
    
}