<h1>Hi {{currentUser.firstName}} {{id}}!</h1>


<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.email}} {{user.number}})
        - <a (click)="deleteUser(user._id)" class="text-danger">Delete</a>
    </li>
</ul>
